.login {
  width: 366px;
  background: #ffffff;
  border-radius: 12px;
  padding: 40px 45px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  gap: 20px;
}

.input {
  border: none;
  border-bottom: 0.5px solid #d0cece;
  padding-bottom: 8px;
  font-family: "StratosSkyeng", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  outline: none;
  color: #03020a;
  padding: 16px 0;
  width: 278.5px;
}

.input::placeholder {
  font-family: "StratosSkyeng", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #d0cece;
}

.input_login:hover {
  cursor: pointer;
}

.input_password:hover {
  cursor: pointer;
}

.button_login {
  width: 278px;
  height: 52px;
  background: #580ea2;
  border: none;
  margin-top: 40px;
  border-radius: 46px;
  font-family: "StratosSkyeng", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  transition: 0.3s;
}

.button_login:hover {
  box-shadow: #d0cece 4px 2px 64px;
  transform: scale(1.03);
  background: #3f007d;
}

.button_login:active {
  background: #271a58;
}

.button_registration {
  width: 278px;
  height: 52px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid #d0cece;
  border-radius: 46px;
  font-family: "StratosSkyeng", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  transition: 0.3s;
}

.button_registration:hover {
  box-shadow: #d0cece 4px 2px 64px;
  transform: scale(1.03);
  background: #f4f5f6;
}

.button_registration:active {
  background: #d9d9d9;
}
