@font-face {
  font-family: "StratosSkyeng";
  src: local("StratosSkyeng"),
    url(../../fonts/Stratos-Regular.woff) format("woff");
}

.courses {
  margin-top: 75px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.courses__title {
  font-family: "StratosSkyeng", sans-serif;
  font-size: 48px;
  line-height: 56px;
  text-align: left;
}

.courses__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}

.courses__card {
  width: 360px;
  height: 480px;
  background-color: #ffffff;
  border-radius: 30px;
  position: relative;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.courses__card:hover .courses__card_button {
  transform: scale(1.03);
}

.courses__card_titile {
  width: 290px;
  height: 120px;
  font-family: "StratosSkyeng", sans-serif;
  font-style: normal;
  font-size: 36px;
  color: #000000;
  position: absolute;
  top: 30px;
  left: 30px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid;
  border-color: turquoise transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
