@font-face {
  font-family: "StratosSkyeng";
  src: local("StratosSkyeng"),
    url(../../fonts/Stratos-Regular.woff) format("woff");
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: "StratosSkyeng", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.05px;
}

.form {
  width: 278px;
  padding-top: 38px;
}

.logo {
  width: 220px;
  height: 35px;
  margin-top: 40px;
}

.content {
  width: 366px;
  height: 331px;
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: #ffffff;
  border-radius: 12px;
}

.input {
  width: 278px;
  font-family: "StratosSkyeng", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.003em;
  color: #e1e1e1;
  padding: 8px 0px;
  border-width: 0 0 1px 0;
  border-color: #d0cece;
  margin-top: 12px;
  margin-bottom: 10px;
}

.button {
  width: 278px;
  height: 52px;
  background: #580ea2;
  border: #580ea2;
  border-radius: 6px;
  font-family: "StratosSkyeng", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.003em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  border-radius: 46px;
}

.button:hover {
  background: #3f007d;
  transform: scale(1.03);
  box-shadow: #03020a 2px 2px 16px;
}
.button:active {
  background: #271a58;
}

.error{
  color: red;
  font-size: 14px;
  text-align: center;
}

